{% extends "layout.html" %}
{% block title %}The films list page{% endblock %}
{% block description %}The films list page{% endblock %}
{% block body %}
  <table class="film_reviews">
      {% for filmJSON in filmsJSON %}
          <tr>
              <td>
                <a href='{{ url_for('film_full_descr', tag=filmJSON["tag"]) }}'>
                  <img class="film_pstr" src="{{ filmJSON["Постер"] }}" alt="Постер">
                </a>
              </td>
              <td class="film_name_dsrt" align="left">
                <a href='{{ url_for('film_full_descr', tag=filmJSON["tag"]) }}'><p class="film_title">{{ filmJSON["Название"] }}</p></a>
                <p class="film_shrt_dscr">
                    {{ filmJSON["Короткое описание"]|join }}
                </p>
              </td>
            </tr>
      {% endfor %}
  </table>
  <nav>
    <h4>Опции:</h4>
    <ul>
      <li><a href="{{ url_for("index") }}">Home</a></li>
    </ul>
  </nav>
{% endblock %}