<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="Nikita Silchenko">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png')}}">
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>