#include <windows.h>

#include "resource.h"

dlgName DIALOG 0, 0, 150, 100
STYLE  DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Investor information"
{
    CONTROL         "Name:", DLG_STATIC_NAME_ID, "STATIC", SS_LEFT, 5, 5, 65, 15
    CONTROL         "Surname:", DLG_STATIC_SURNAME_ID, "STATIC", SS_LEFT, 5, 20, 65, 15
    CONTROL         "Bithdate:", DLG_STATIC_BIRTHDATE_ID, "STATIC", SS_LEFT, 5, 35, 65, 15
    CONTROL         "Investment:", DLG_STATIC_INVESTMENT_ID, "STATIC", SS_LEFT, 5, 50, 65, 15
    CONTROL         "Projects number:", DLG_STATIC_PROJECTS_NUMBER_ID, "STATIC", SS_LEFT, 5, 65, 65, 15

    CONTROL         "", DLG_STATIC_DELIVERED_NAME_ID, "STATIC", SS_RIGHT, 80, 5, 65, 15
    CONTROL         "", DLG_STATIC_DELIVERED_SURNAME_ID, "STATIC", SS_RIGHT, 80, 20, 65, 15
    CONTROL         "", DLG_STATIC_DELIVERED_BIRTHDATE_ID, "STATIC", SS_RIGHT, 80, 35, 65, 15
    CONTROL         "", DLG_STATIC_DELIVERED_INVESTMENT_ID, "STATIC", SS_RIGHT, 80, 50, 65, 15
    CONTROL         "", DLG_STATIC_DELIVERED_PROJECTS_NUMBER_ID, "STATIC", SS_RIGHT, 80, 65, 65, 15

    CONTROL         "OK", DLG_BUTTON_OK_ID, "BUTTON", BS_DEFPUSHBUTTON, 80, 80, 65, 15
}
