<!doctype html>
{% extends "base.html" %}

{% block title %}The about page{% endblock %}
{% block description %}The about page{% endblock %}
{% block body %}
  <h1>About</h1>
  <p><b>Name</b>: Films to see</p>
  <p><b>e-mail</b>: nikita.silchenko.kpi.kp52@gmail.com</p>
  <p><b>About</b>: A site to see the list of some good films and their description</p>
{% endblock %}

{% block nav %}
    <h4>Опции:</h4>
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'index' %}">Home</a></li>
    </ul>
{% endblock %}